---

---


<div class="w-48 text-sm font-medium border rounded-lg bg-black border-gray-600 text-white">
    <a href="#" aria-current="true" class="block w-full px-4 py-2 text-white border-b rounded-t-lg cursor-pointer bg-gray-800 border-white">
        Profile
    </a>
    <a href="#" class="block w-full px-4 py-2 border-b cursor-pointer border-white hover:bg-gray-800 hover:text-white focus:text-white">
        Settings
    </a>
    <a href="#" class="block w-full px-4 py-2 border-b cursor-pointer border-white hover:bg-gray-800 hover:text-white focus:text-white">
        Messages
    </a>
    <a href="#" class="block w-full px-4 py-2 rounded-b-lg cursor-pointer border-white hover:bg-gray-800 hover:text-white focus:text-white">
        Download
    </a>
</div>
