---

---



<ul class="w-48 text-sm font-medium border rounded-lg bg-black border-gray-600 text-white">
    <li class="w-full px-4 py-2 border-b rounded-t-lg border-white">Profile</li>
    <li class="w-full px-4 py-2 border-b border-white">Settings</li>
    <li class="w-full px-4 py-2 border-b border-white">Messages</li>
    <li class="w-full px-4 py-2 rounded-b-lg">Download</li>
</ul>
