

    <a href="#" class=" max-w-sm p-6 rounded-xl shadow bg-black border-gray-700 hover:bg-gray-900">

        <h5 class="mb-2 text-2xl font-bold tracking-tight text-white">Lorem ipsum dolor sit amet.</h5>
        <p class="text-sm font-normal text-gray-500">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Consequuntur nam temporibus ratione, nisi fugit delectus.</p>
    </a>

