---
import { Image } from 'astro:assets';
import ImagenCompu from '../../images/computer.png'
---

    <div class="max-w-sm border rounded-xl shadow bg-black border-gray-700">
        <a href="#">
            <Image class="rounded-t-lg" src={ImagenCompu} alt="" />
        </a>
        <div class="p-5">
            <a href="#">
                <h5 class="mb-2 text-2xl font-bold tracking-tight text-white">Lorem ipsum dolor sit amet.</h5>
            </a>
            <p class="mb-3 font-normal text-gray-500">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Consequuntur nam temporibus ratione, nisi fugit delectus.</p>
            <a href="#" class="inline-flex items-center px-3 py-2 text-sm font-medium text-center text-black rounded-lg bg-white hover:bg-gray-400">
                Button
            </a>
        </div>
    </div>
