---

---
<div class=" flex justify-center items-center flex-1 w-full max-w-screen-xl mx-auto">
    <h1 class="text-black font-bold text-5xl text-center sm:text-8xl"> 
        Minimalist components for big projects
    </h1>
</div>

