---
import Footer from '../components/Footer.astro';
import Navbar from '../components/Navbar.astro';

interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<!-- Primary Meta Tags -->
		<title>Mincomps - Design Components</title>
		<meta name="title" content="Mincomps - Design Components" />
		<meta name="description" content="Mindcomps compiles components from various libraries and modifies them with a minimalist approach. Its ease of use means that with just one click you can get any of our components, without any dependency." />

		<meta property="og:type" content="website" />
		<meta property="og:url" content="" />
		<meta property="og:title" content="Mindcomps - Design Components" />
		<meta property="og:description" content="Mindcomps compiles components from various libraries and modifies them with a minimalist approach. Its ease of use means that with just one click you can get any of our components, without any dependency." />
		<meta property="og:image" content="https://metatags.io/images/meta-tags.png" />

		<meta property="twitter:card" content="summary_large_image" />
		<meta property="twitter:url" content="" />
		<meta property="twitter:title" content="Mindcomps - Design Components" />
		<meta property="twitter:description" content="Mindcomps compiles components from various libraries and modifies them with a minimalist approach. Its ease of use means that with just one click you can get any of our components, without any dependency." />
		<meta property="twitter:image" content="https://metatags.io/images/meta-tags.png" />

	</head>
	<body class="flex flex-col h-screen bg-white">
		<Navbar />
		<section class="flex-1 flex flex-col lg:flex-row justify-between items-center max-w-screen-xl w-full mx-auto">
			<slot />
		</section>
		<Footer />
	</body>
</html>
<style is:global>
	:root {
    	color-scheme: dark;
	}
	html {
		font-family: system-ui, sans-serif;
	}

	body{
		color: rgba(17, 17, 17, 0.9);
		display: flex;
        flex-direction: column;
		min-height: 100vh;
	}

</style>
